// general

// responsive font


/* 16px @ 480px increasing to 32px @ 1920px */



// menu


.navbar-default{ 
      // when changing color here, set same color to element a below, because of auto color setting

  background-color:$main-green;
  
  .navbar-nav > li > a{
  color:set-text-color($main-green);
  font-family: 'Josefin-sans','Roboto Mono',sans-serif;
  font-size: 1.4em;
  text-align: center;
  &:hover {
    color:$hover-light;
    background-color:$main-green;
    }
  }
  
  .navbar-brand  {
  color:#ff9400;
  // font-size: 2em;
  a {
    font-family: 'Catamaran', 'Ubuntu Mono',sans-serif;
  
    }
  }

}
.navbar-fixed-top {
  border-bottom:0;
  }


.menu-bg {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
    // when changing color here, set same color to element a below
    background-color: $white;
    .navbar-nav > li > a{
  color:set-text-color($white);
  }
    
}

 @media (min-width: 800px) {
    .navbar-toggle {
      display: none; }
       }

// section
section {
  padding:60px;

}
@media screen 
  and (max-width: 420px) 
  and (max-height: 740px) {
    section{
      padding:30px 10px;
    }
  }
// hero
.hero-text{
  
  // background:url('../assets/img/22.jpg');
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  // background-color:rgba(124,124,124,1);
  width:100wh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin:auto;
  padding:15px;
  & h2,h3{
    color: #fff;
      text-align: center;
  }
  & h2 {
    
    font-size: 2.7em;
    text-transform: uppercase;
  
    margin-bottom: 40px ;
  
   } 
  & h3 {
    margin-bottom: 25px;
    font-size: 1.5em;
    font-weight: normal;
  }
  .button {
  text-transform: uppercase;
  color: white;
  padding: 20px;
  border: 1px solid white;
  text-decoration: none ;
  margin-bottom: 70px;
   background-color:rgba(50,50,50,0.3);
   transition: all 0.3s ease;
  &:hover {
    color:$hover-light;
    background-color:rgba(250,250,250,0.3);
    }
  }
}
#o_meni {
  .o_meni{
    padding-bottom: 30px;
  }
  h3, h4{
    text-align: center;
    font-family: "Ubuntu Mono",sans-serif;
  }
  h4 {
    font-size: 2em;
    background-color:rgba(39,144,105,0.3);
    line-height: 2em;
  }
  p {
    font-size: 1.5em;
    font-family:'Roboto Mono', sans-serif;
  }
}
@media only screen and  (min-width: 767px) 
  and (min-height: 420px) {
  #o_meni .text{
    padding:0 60px;

  }

}
@media only screen and (max-width: 1200px) {
  #o_meni {
  .o_meni{
    padding-bottom: 20px;
    }
  h3, h4{
    text-align: center;
    font-family: "Ubuntu Mono",sans-serif;
    }
  h4 {
    font-size: 1.5em;
    background-color:rgba(39,144,105,0.3);
    line-height: 1.5em;
  }
  p {
    font-size: 1.2em;
    font-family:'Roboto Mono', sans-serif;
  }
}
}


// gallery
#gallery{
  background-color:$main-green;
  
  h2{
    font-family: "Ubuntu Mono",sans-serif;
  color: white;
  font-size: 3em;
  }
  .gallery-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }
  .button {
  text-transform: uppercase;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  text-decoration: none ;
  // margin-bottom: 70px;
  margin:8px;
   background-color:rgba(50,50,50,0.3);
   transition: all 0.3s ease;
  &:hover {
    color:$hover-light;
    background-color:rgba(250,250,250,0.3);
    }
  }

  .gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
  }
  .item {
    margin:10px;
    width:300px;
    height: 200px;
  }
  .item-tall {
    height:450px;
  }
}