// general

// responsive font


/* 16px @ 480px increasing to 32px @ 1920px */



// nav bootstrap


.navbar-default{ 

  .navbar-nav > .active > a,  .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus 
      {
       
    color:$hover-light;
    background-color:  $menu-color; 
  }
      // when changing color here, set same color to element a below, because of auto color setting

  background-color:$menu-color;  
  .navbar-nav > li > a{
    border-radius:20px;
  color:set-text-color($main-green);
  font-family: 'Josefin-sans','Roboto Mono',sans-serif;
  font-size: 1.4em;
  text-align: center;
  &:hover {
    color:$hover-light;
    // background-color:$main-green;
    }
  }
  
  .navbar-brand  {
  color:$hover-light;
  // font-size: 2em;
  a {
    font-family: 'Catamaran', 'Ubuntu Mono',sans-serif;
  
    }
  }
  .navbar-brand:hover{
    color:$hover-light;
    background-color:$main-green;
  }

}
.navbar-fixed-top {
  border-bottom:0;
  }


.menu-bg {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
    // when changing color here, set same color to element a below
    background-color: $white;
    .navbar-nav > li > a{
  color:set-text-color($white);
  }
    
}


// // nav flex

// @import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

// // //Color Variables
// // $color1: #E84545; //Red
// // $color2: #53354A; //Plum
// // $color3: #903749; //Maroon

// // Base Styles
// body {
//   background-color:$main-green;
//   color: set-text-color($main-green);
//   font-family: 'Oswald', sans-serif;
//   line-height: 2em;
//   text-transform: uppercase;
// }

// h1 {
//   font-size: 3em;
//   padding: 3em 0 1em 0;
// }

// .navBar {
//   background-color: $main-green;
//   position: fixed;
//   min-width: 100%;
// }

// .logo {
//   background-color: $main-green;
//   border-radius: 50px;
//   display: inline-block;
//   height: 45px;
//   margin: 1em 0;
//   width: 45px;
// }

// // Content Wrapper
// .wrapper {
//   margin: 0 auto;
//   max-width: 960px;
//   padding: 0 2%;
// }

// nav {
//   z-index: 999;
//   ul {
//     display: flex;
//     justify-content: flex-end;
//     list-style-type: none;
//     width: 70%;
//     margin:0;
    
//     a {
//       color: $white;
//       text-decoration: none;
//       transition: all 0.6s ease;
//       font-size: 18px;
//        padding:20px 15px;

//       &:hover {
        
//         color: $hover-light;
        
//       }
//     }
//   }
  
//   li  {
//     display: inline-block;
//   }
  
//   #menu-toggle {display: none;}
  
//   .label-toggle {display: none;}
  
//   .wrapper {
//     align-items: center;
//     display: flex;
//     justify-content: space-between;
//   }
  
//   @media screen and (max-width: 768px) {
//     .logo {
//       font-size: 1.5em;
//     }
//     nav {
//       ul {
//         a {
//           color: $main-green;
//            padding:1.2em 8em;
           
//         }
//       }
//     }
//     ul {
//       background-color: $white;
//       display: block;
//       height: 0;
//       list-style-type: none;
//       opacity: 0;
//       text-align: center;
//       transition: all 1s ease;
//       width: 100%;
//       visibility: hidden;
//     }
    
//     li {
//       border-bottom: 2px solid $main-green;
//       color: $main-green;
//       display: block;
//       font-size: 1.5em;
//       padding: 1em 0;
//     }
  
//     #menu-toggle:checked ~ ul {
//       opacity: 1;
//       height: 100vh;
//       visibility: visible;
//     }
    
//     .label-toggle {
//       background: linear-gradient(to bottom, $white 0%, $white 20%, transparent 20%, transparent 40%, $white 40%, $white 60%, transparent 60%, transparent 80%, $white 80%, $white 100%); //Gradient Hamburger
//       cursor: pointer;
//       display: block;
//       float: right;
//       height: 35px;
//       margin-top: 1em;
//       width: 35px;
//     }
    
//     .wrapper {display: block;}
//   }
// }


// section
section {
  padding:40px;
  p {
     
    font-size: 1.3em;
    font-family:'Roboto Mono', sans-serif;
  }
  
  h2 {
     text-align: center;
    margin: 0 0 10px;
    font-family: "Ubuntu Mono",sans-serif;
    font-size: 3em;
  }
  h3,h4,h5,h6{
    text-align: center;
    margin: 10px 0 10px;
    font-family: "Ubuntu Mono",sans-serif;
  }
  a {
    font-family: 'Roboto Mono',Arial;
  } 
   .button {
  text-transform: uppercase;
  color: $hover-light;
  padding: 10px 20px;
  border: 1px solid $hover-light;
  border-radius:20px;
  text-decoration: none ;
  // margin-bottom: 70px;
  margin:8px;
   background-color:rgba(50,50,50,0.3);
   transition: all 0.3s ease;
   flex:0 0 auto;
   text-align: center;
  &:hover {
    color:$hover-light;
    background-color:$hover-background;
      }
    }

}
@media screen 
  and (max-width: 640px) 
  and (max-height: 740px) {
    section{
      padding:30px 10px;

    }
     p {
    font-size: 1em !important;
  }
  }
// hero
.hero-text {
   background-size: cover;
  background-position: center;
  width: 100wh;
  height: 100vh;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  margin: auto;

   & h2, h3 {
    color: $white;
    line-height: 1;
    text-align: center;
  } 
  & h2 {
    color:$white;
    font-size: 2.7em;
    text-transform: uppercase;
    font-family: "Ubuntu Mono",sans-serif;
    margin-bottom: 40px ;
    
   } 
  & h3 {
    margin-bottom: 25px;
    font-size: 1.5em;
    font-weight: normal;
    font-family: "Catamaran","Ubuntu Mono",sans-serif;
  }
  .button {
  text-transform: uppercase;
  color: white;
  padding: 20px;
  border: 1px solid $hover-light;
  text-decoration: none ;
  margin-bottom: 70px;
   background-color:rgba(50,50,50,0.3);
   transition: all 0.3s ease;
  &:hover {
    color:$hover-light;
    background-color:$hover-background;
    }
  }
}
  

#o_meni {
  .o_meni{
    padding-bottom: 30px;
  }
  h3, h4{
    text-align: center;
    font-family: "Ubuntu Mono",sans-serif;
  }
  h4 {
    font-size: 2em;
    background-color:rgba(39,144,105,0.3);
    line-height: 2em;
  }
  p {
    text-align: center;
  }
}
@media only screen and  (min-width: 767px) 
  and (min-height: 420px) {
  #o_meni .text{
    padding:0 60px;

  }

}
@media only screen and (max-width: 1200px) {
  #o_meni {
  .o_meni{
    padding-bottom: 20px;
    }
  h3, h4{
    text-align: center;
    font-family: "Ubuntu Mono",sans-serif;
    }
  h4 {
    font-size: 1.5em;
    background-color:rgba(39,144,105,0.3);
    line-height: 1.5em;
  }
  p {
    font-size: 1.2em;
    font-family:'Roboto Mono', sans-serif;
  }
}
}


// gallery with flex, working
// #gallery{
//   background-color:$main-green;
  
//   h2{
//     font-family: "Ubuntu Mono",sans-serif;
//   color: white;
//   font-size: 3em;
//   }
//   .gallery-nav {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;


//   }
//   .button {
//   text-transform: uppercase;
//   color: white;
//   padding: 10px 20px;
//   border: 1px solid white;
//   text-decoration: none ;
//   // margin-bottom: 70px;
//   margin:8px;
//    background-color:rgba(50,50,50,0.3);
//    transition: all 0.3s ease;
//    flex:1 0 auto;
//    text-align: center;
//   &:hover {
//     color:$hover-light;
//     background-color:rgba(250,250,250,0.3);
//     }
//   }

//   .gallery{
//     display:flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     align-items:center;
//   }
//   .item {
//     margin:10px 0;
//     width:300px;
//     height: 200px;

//   }
//   .item-tall {
//     height:450px;
//   }
// }

// galerija sa grid, ne radi dobro kategorizacija

#gallery{

  // background-color:rgba(0,152,51,0.3);
  
  h2{
  
  color: set-text-color($main-color);
  }
  .gallery-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
 
  .masonry-container {
  padding: 0;
  }

  .item { 
  padding:15px;
  }
  .item-tall{
  height: 50vh;
  }
  .item img {
  width: 100%;
  display: block;
  }
  .flex{
    display:block;
    float: left;
  }
}
 
  // testimonials

/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;

/* indicator position */
   .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
    /* indicator color */
      .carousel-indicators li {
      background: #c0c0c0;
      }
        /* active indicator */
       .active {
        background: #333333;
        height:10px;
        width:10px;
        margin-bottom:1px;
        }
    }
  p {
    font-style:italic;
  }
  img {
    height: 100px;
    width: 150px;
    margin-bottom: 10px;
  }
}

  #testimonials {

    height: 400px !important;
    overflow: hidden;
  }


// retouch
#retouch {
  // background-color:$main-green;
  .retouch-paragraph {
    margin-top: 15px;
  }
  .link {
    color: $hover-light;

  }
}

#blog {
  .content{
    padding:15px;
  
  img {
    height: 75px;
    width:75px;
    margin:30px ;
  }
  .img-icon {
    display: flex;
    justify-content: center;
  }
  p {
    margin-bottom: 10px;
    text-align: justify;
  }
  .blog-list{
    text-align:left;
    margin:0 0 20px 0;
   
    p{
      text-align: justify;
    }
    h4{
      text-align: left;
    }
    ul{
      margin:0 0 0px 0;
      padding:0;
      list-style: none;
      li{
        margin:10px 0 ;
        a{
          // text-decoration: none;
          font-size: 1.2em;
        }
      }
    }
  }
 }
}

#shop{
  // background-color:$main-green;
  // color:set-text-color($main-green);
  a {
    margin-top: 20px;
    color:$hover-light;
  }

}

// contact
#contact {
  // background-color:$main-green;
  // color:set-text-color($main-green);
}
footer {
  background-color:$menu-color;
  
    .contact-links{
    padding-top:5px 10px;
    display:flex;
    justify-content: center;
    a{
      padding:15px;
      font-size: 30px;
      color:#fff;
    }
  }
}